.card {
    display:flex;
    flex-direction: column;
    height: 10em;
    width: 4em;
    background-color: green;
}

.character {
    display:flex;
    flex-direction: column;
    height: 11em;
    width: 4em;
    background-color: white;
}

.header {
    height: 1em;

}

.characterHealth {
    display:flex;
    flex-direction: row;
    border: 1px solid black;
}

.characterHealthLeft {
    background-color: darkgray;
}

.characterHealthRight {
    background-color: red;
}

.image {
    height: 3em;
    width: 3em;
    flex-grow:0;
}
