.card {
    display:flex;
    flex-direction: column;
    height: 10em;
    width: 4em;
    background-color: green;
}

.cardHeader {
    height: 1em;

}

.image {
    height: 3em;
    width: 3em;
    flex-grow:0;
}
