.main {
    display: flex;
    flex-direction: column;
}

.characters {
    display: flex;
    flex-direction: row;
    height: 20em;
    border: 1px solid red;
}

.cards {
    display: flex;
    flex-direction: row;
    height: 20em;
    border: 1px solid blue;
    padding-top: 10px;
}

.space {
    flex-grow:1;
}


.right {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
}

.character {
    height: 10em;
    width: 3em;
    border: 1px solid black;
}

.stack {
    display: flex;
    flex-direction: column;
    height: 10em;
    width: 3em;
    border: 1px solid black;
}

.enemyStack {
    display: block;
    margin-right: 60px;
    margin-bottom: 10px;
}

.hand {
    flex-grow:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
        
}

.discard {
    display: flex;
    flex-direction: column;
    height: 20em;
    width: 8em;
    border: 1px solid black;
}

.nextTurnButton {
    border: 1px solid black;
    font-weight: bold;
    display: block;
    padding: 20px; 
    background-color: white;
    color: black; 
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nextTurnButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


.image {
    height: 124px;
    width: 124px;
    margin-left: auto;
    padding-top: 10px;
    margin-right: auto;
}

.cardInformation h4 {
    margin-left: auto;
    margin-right: auto;
}

.cardInformation p{
    width: 100%;
    padding: 10px;
}

.closeButton {
    display: block;
    padding: 10px; 
    background-color: black;
    color: white;
    width: 10%;
    margin: auto;
}

.closeButton:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.cardInformation {
    width: 400px;
    background-color: white;
    border: 2px solid black;
    z-index: 2;
    display: flex;
    margin:auto;
    position: absolute;
    top: 25%;
    left: 35%;
    flex-direction: column;
}

.cardInformationDescriptionWrapper {
    overflow: auto;
    height: 100px;
}

.cardInformationDescription {
    display: block;
    width: 100%;
    padding: 10px;
}

.cardInformationDescription p{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cardInformationDescription p:first-child {
    font-weight: bold;
}