.main {
    display: flex;
    flex-direction: column;
}

.characters {
    display: flex;
    flex-direction: row;
    height: 20em;
    border: 1px solid red;
}

.cards {
    display: flex;
    flex-direction: row;
    height: 20em;
    border: 1px solid blue;
}

.space {
    flex-grow:1;
}


.right {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
}

.character {
    height: 10em;
    width: 3em;
    border: 1px solid black;
}
.stack {
    height: 10em;
    width: 3em;
    border: 1px solid black;
}

.hand {
    flex-grow:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
        
}
.card {
    height: 10em;
    width: 3em;
    background-color: blue;
}

.discard {
    height: 10em;
    width: 3em;
    border: 1px solid black;
}
